.nested-fields
  .row
    .col-sm-4
      = f.association :technology, collection: Technology.all, prompt: 'Choose an existing technology'
    .col-sm-4
      = f.input :assessment, collection: enum_map(Experience.assessments)
    .col-sm-2
      = f.input :level, collection: enum_map(Experience.levels)
    .col-sm-2
      = link_to_remove_association f, class: 'btn btn-warning' do
        = fa_icon "remove"
        remove

