= simple_form_for @hacker, html: { class: 'form-horizontal' }, wrapper: :horizontal_form,
  wrapper_mappings: {boolean: :horizontal_boolean} do |f|
  = f.error_notification

  %fieldset
    %label.legend Person
    .form-inputs
      = f.input :first_name, placeholder: 'Your first name', hint: 'Alternatively, use alias below'
      = f.input :last_name, placeholder: 'Your first name', hint: 'Your last name'
      = f.input :alias, placeholder: 'alias', hint: 'Will be shown in preference to full name, if defined.'

  %hr

  %fieldset
    %label.legend Personal
    .form-inputs
      = f.input :morale, collection: enum_map(Hacker.morales), hint: 'How much pain is it for you to use proprietary software?'
      = f.input :show_email, as: :boolean, hint: '(opt-in) Make your email address visible to everybody who registered'

  %hr

  %fieldset
    %label.legend
      Community involvements
      [
      = link_to "add a community", new_community_path, target: '_blank'
      ]
    #community_involvements
      = f.simple_fields_for :community_involvements do |c|
        = render 'community_involvement_fields', f: c
      .links
        .row
          .col-sm-2.col-sm-offset-10
            = link_to_add_association f, :community_involvements, class: 'btn btn-primary' do
              = fa_icon "plus"
              add involvement

  %hr

  %fieldset
    %label.legend
      Experiences
      [
      = link_to "add a technology", new_technology_path, target: '_blank'
      ]
    #experiences
      = f.simple_fields_for :experiences do |e|
        = render 'experience_fields', f: e
      .links
        .row
          .col-sm-2.col-sm-offset-10
            = link_to_add_association f, :experiences, class: 'btn btn-primary' do
              = fa_icon "plus"
              add experience

  .form-actions
    = f.button :submit

