= simple_form_for @hacker, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  = f.error_notification

  %fieldset
    %label.legend Person
    .form-inputs
      = f.input :first_name
      = f.input :last_name
      = f.input :alias

  %hr

  %fieldset
    %label.legend Community involvements
    #community_involvements
      = f.simple_fields_for :community_involvements do |c|
        = render 'community_involvement_fields', f: c
      .links
        .row
          .col-sm-2.col-sm-offset-10
            = link_to_add_association f, :community_involvements, class: 'btn btn-primary' do
              = fa_icon "plus"
              add involvement

  %hr

  %fieldset
    %label.legend Experiences
    #experiences
      = f.simple_fields_for :experiences do |e|
        = render 'experience_fields', f: e
      .links
        .row
          .col-sm-2.col-sm-offset-10
            = link_to_add_association f, :experiences, class: 'btn btn-primary' do
              = fa_icon "plus"
              add experience

  .form-actions
    = f.button :submit

