%tr
  %td
    = link_to tr_experience.hacker_name, tr_experience.hacker
  %td
    = render_stars tr_experience.level, Experience.levels
    (
    = tr_experience.level
    )
  %td
    = render_stars tr_experience.assessment, Experience.assessments
    (
    = tr_experience.assessment
    )

