= simple_form_for @community, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  = f.error_notification

  .form-inputs
    = f.input :name

  %br

  %fieldset
    %label.legend Tool Use
    #tool_uses
      = f.simple_fields_for :tool_uses do |e|
        = render 'tool_use_fields', f: e
      .links
        .row
          .col-sm-2.col-sm-offset-10
            = link_to_add_association f, :tool_uses, class: 'btn btn-primary' do
              = fa_icon "plus"
              add Tool Use

  .form-actions
    = f.button :submit
