#navbar.navbar-collapse.collapse
  %ul.nav.navbar-nav
    %li{class: ('active' if in_controller? 'communities')}
      %a(href="#{communities_path}") Communities
  %ul.nav.navbar-nav
    %li{class: ('active' if in_controller? 'technologies')}
      %a(href="#{technologies_path}") Technologies
  %ul.nav.navbar-nav
    %li{class: ('active' if in_controller? 'hackers')}
      %a(href="#{hackers_path}") Hackers
  %ul.nav.navbar-nav
    %li{class: ('active' if in_controller? 'pages')}
      %a(href="#{about_path}") About
  - if current_user && current_user.admin?
    %ul.nav.navbar-nav
      %li{class: ('active' if in_controller? 'users')}
        %a(href="#{users_path}") Users
  - if current_user
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to 'My Profile', edit_hacker_path(0)
      %li.dropdown
        %a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
          Account
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to 'Change Password', edit_user_registration_path
          %li
            = link_to 'Logout', destroy_user_session_path, :method=>'delete'
